@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(236.85deg, #041832 27.26%, #ff0000 96.03%);
}

.container {
	background: #ecf4ff;
	margin: 50px;
	border-radius: 25px;
	box-shadow: 6px 6px 6px #0e1d2f;
	padding: 50px;
	color: #1c1c1c;
}

.perfil {
	display: flex;
	align-items: center;
}

.perfil-img {
	border-radius: 100px;
	max-width: 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
	margin-left: 20px;
}

.titulo h1 {
	font-weight: 700;
	font-size: 40px;
}

.titulo h3 {
	font-weight: 400;
	font-size: 25px;
}

.projetos {
	display: flex;
	flex-direction: column;
	/* 	align-items: center; */
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
}

ul {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

li {
	font-size: 20px;
	margin-bottom: 10px;
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
}

i {
	font-size: 25px;
}
